<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layoutListar :: head">
    <meta name="description" content="Creacion de empresas"/>
    <title>Editar Empresas</title>

</head>


<body class="body">
<header th:replace="layout/layoutListar :: header"></header>
</br>
</br>
<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Editar Empresa</h2>

                            <form th:object="${empresaupdate}" th:action="@{/editarEmpresa/{id}(id=${empresaupdate.idempresa})}" method="post">

                                <div class="form-outline mb-4">
                                    <label for="nombreempresa">Nombre Empresa:</label>
                                    <input id="nombreempresa" type="text" placeholder="ingrese el nombre de la empresa" class="font-control"  name="nombreempresa" th:field="*{nombreempresa}"/>
                                </div>

                                <div class="form-outline mb-4">
                                    <label for="ciudad">Ciudad Empresa:</label>
                                    <input id="ciudad" type="text" placeholder="ingrese ciudad de la empresa" class="font-control" name="ciudad" th:field="*{ciudad}" >
                                </div>
                                </br>

                                <input  type="submit" value="Guardar" class="btn btn-success"/>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</br>
</br>


<footer th:replace="layout/layoutListar :: footer"></footer>
</body>
</html>
