<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layoutListar :: head">

    </head>

    <body class="body">
    <header th:replace="layout/layoutListar :: header"></header>
        </br>
        <h3 th:text="${titulo}" style="text-align: center;color: #373b3e"></h3>
        <br/>
        <div class="container" >
        <table id="tablax" class="table table-striped table-bordered">
            <thead class="table-dark">
                    <tr>
                        <td > Id Empresa </td>
                        <td> Nombre Empresa </td>
                        <td> Ciudad </td>
                        <td> Estado </td>
                        <td></td>
                        <td></td>

                    </tr>
            </thead>
            <tbody>
                    <tr th:each="empresa: ${empresa}" th:if="${empresa.estado}==true" >
                        <td th:text=" ${empresa.idempresa}"></td>
                        <td th:text=" ${empresa.nombreempresa}"></td>
                        <td th:text=" ${empresa.ciudad}" ></td>
                        <td th:if=" ${empresa.estado}==true" th:text="ACTIVE"></td>
                       <!-- <td><a class="btn btn-danger btn-xs" th:href="@{/eliminarEmpresa/} + ${empresa.idempresa}" th:text="EliminarBD" onclick="return confirm('¿Esta seguro de esliminar el registro?')"></a></td>-->
                        <td><a class="btn btn-danger " th:href="@{/eliminarIdEmp/}+${empresa.idempresa}" th:text="Eliminar" onclick="return confirm('¿Esta seguro de eliminar el registro?')"></a></td>
                        <td><a class="btn btn-info btn-xs" th:href="@{/editarEmpresa/{id}(id=${empresa.idempresa})}" th:text="Editar"  ></a></td>

                    </tr>
            </tbody>
        </table>
            <a th:href="@{/crearEmpresa}" class="btn btn-outline-primary">Nueva Empresa</a>
            </br>

            <a style="font-size: 18px" href="/">Regresar</a>
        </div>


    <footer th:replace="layout/layoutListar :: footer"></footer>
    </body>
</html>