<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layoutListar :: head">
    <meta name="description" content="Creacion de conductores"/>
    <title>Registrar Conductores</title>

</head>

<body class="body">
<header th:replace="layout/layoutListar :: header"></header>

</br>
</br>

<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Registrar Usuario</h2>

                            <form th:action="@{/signupdos}" th:object="${usuario}" method="post">

                                <div class="form-outline mb-4">
                                    <label>Nombre Usuario:</label>
                                    <input
                                            type="text"
                                            th:field="*{username}"
                                            th:errorclass="'form-control alert-danger'"
                                            placeholder="Nombre del Usuario"
                                            autofocus
                                            required
                                    />
                                </div>


                                <div class="form-outline mb-4">
                                    <label>Contraseña</label>
                                    <input

                                            type="text"
                                            th:field="*{password}"
                                            th:errorclass="'form-control alert-danger'"
                                            placeholder="Contraseña"
                                            autofocus
                                            required

                                    />
                                </div>



                                </br>

                                <input type="submit" value="Guardar" class="btn btn-success" />
                                </br>
                                </br>



                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</br>
</br>

<footer th:replace="layout/layoutListar :: footer"></footer>
</body>
</html>
