.form{

    width: 340px;
    height: 700px;
    background-color: cornsilk;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px black;
    margin: calc(50vh-220px) auto;
    padding: 20px 30px ;
    max-width: calc(100vw-4px);
    position: relative;

    

}

input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    border-bottom: 2px solid #bebed2;
    transition: all .3s;
}

button{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid;
    background: 0;
    color: #5a5a6e;
}